/* filepath: /home/pnevins/bst236/hw2_proj/bst236_hw1_codeblog/pacman/style.css */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 100px;
    color: rgb(250, 179, 221);
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
}

h1, p{
    color: rgb(250, 179, 221);
}

button {
    color: rgb(251, 76, 178);
}


canvas {
    border: 1px solid blue;
}