body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #e6e6fa;
}

h1 {
    text-align: center;
    color: indigo;
}

#papers {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.paper {
    border: 2px dotted black;
    padding: 25px;
    border-radius: 5px;
    background-color: #fff;
    margin: 0 100px;
}

.paper h2 {
    margin: 0 40px;
    text-align: center;
}

.paper p {
    margin: 5px 0;
    font-family: 'Times New Roman', Times, serif;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: indigo;
    color: #fffcb4;
    position: relative;
    bottom: 0;
    width: 100%;
}

button {
    color: gold;
    background-color: indigo;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 12px;
}