body {
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #e6e6fa; /* Pale purple background */
}

header {
    background: indigo;
    color: #fffcb4;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    margin: 20px 0;
}

nav a {
    color: lightskyblue;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color: gold
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: indigo;
}

article {
    background: #ffffff;
    padding: 10px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px dotted black; 
}

footer {
    text-align: center;
    padding: 10px 0;
    background: indigo;
    color: #fffcb4;
    position: relative;
    bottom: 0;
    width: 100%;
}